.header {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    max-height: 50px;
    padding-top: 10px;
}

.title-group {
    padding-left: 25px;
}

.title-group i {
    padding-right: 5px;
}